{% extends "::base.html.twig" %}

{% block title %}AdressBookBundle:Person:showIndex{% endblock %}

{% block body %}
    <h1>Welcome to the Person:showIndex page</h1>
    <div class="container">
        <p> Persons: {{ persons | length }} </p>

        <table class="table">
            <tr>
                <th>Name</th>
                <th>Surname </th>
                <th> description</th>
                <th> Actions: 
                    <a href="{{ path("adressbook_person_addnewperson") }}"class="btn btn-success btn-sm"> Add new person </a>
                </th>
            </tr>
            {% for person in persons %}
                <tr>

                    <td>{{ person.name }}</td>
                    <td> {{ person.surname }} </td>
                    <td> {{ person.description }} </td>
                    <td> 
                        <a href="{{ path("adressbook_person_showperon", {"id": person.id}) }}"class="btn btn-large btn-primary"> Show </a>
                        <a href="{{ path("adressbook_person_modifyperson", {"id": person.id}) }}"class="btn btn-large btn-warning"> Edit </a>
                        <a href="{{ path("adressbook_person_deleteperson", {"id": person.id}) }}"class="btn btn-large btn-danger"> Delete </a>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}
